/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,500&display=swap");

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(238, 224, 224);
  color: rgb(8, 0, 0);
}
/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
}

ul#menu {
  display: flex;
  font-size: 20px;
}

li.menu-inicio a {
  padding: 16px;
  display: inline-block;
}

ul#contacto {
  display: flex;
  margin-top: 20px;
}

ul#contacto li {
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
}

.menu-modificado {
  background-color: rgb(136, 101, 170);
  color: rgb(228, 248, 244);
  border: 2px dashed #fff;
  font-size: 22px;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 28px;
}
p {
  margin: 16px 0;
}

img {
  max-width: 100%;
}

img.icon {
  width: 80px;
}

#menu {
  background-color: rgb(243, 195, 195);
  box-shadow: 0 3px 10px -5px #c0bdbd;
  color: black;
}
img:hover,
li.nav-item:hover {
    background-color: deeppink;
    color: #BAEED9;
    transition-duration: 0.7s;
}
.navbar-nav.ml-auto {
  margin-left: auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  padding-top: 130px;
}

section#inicio {
  flex-direction: row;
  justify-content: space-around;
}

figure.imagen-presentacion {
  margin-bottom: 20px 0;
}

.logo-personal {
  width: 100px;
  max-width: 100%;
}

figure.imagen-presentacion img {
  border-radius: 100%;
  width: 500px;
  max-width: 90%;
 
}

article.presentacion {
  width: 100%;
  text-align: center;
}

article.acerca-del-derecho {
  width: 100%;
  text-align: center;
}
a.botonabogado {
  background-color: rgba(201, 15, 163, 0.3);
  color: #fbfbfb;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 30px;
  display: inline-block;
}

article.tecnicatura-laboratorio {
  width: 100%;
  text-align: center;
}
a.botontecnico {
  background-color: rgba(201, 15, 163, 0.3);
  color: #fbfbfb;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 30px;
  display: inline-block;
}

article.maestria-en-pasteleria {
  width: 100%;
  text-align: center;
}
a.botonpasteleria {
  background-color: rgba(201, 15, 163, 0.3);
  color: #fbfbfb;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 30px;
  display: inline-block;
}

article.programacion-web {
  width: 100%;
  text-align: center;
}

a.botonprogramacion {
  background-color: rgba(201, 15, 163, 0.3);
  color: #fbfbfb;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 30px;
  display: inline-block;
}

section#contacto p {
  text-align: center;
}

article.contactos {
  background-color: rgba(175, 89, 158, 0.3);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
}

footer {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #af599e;
  color: #fbfbfb;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
  max-width: 1200px;
  margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
/* para el @media query modo movil */
@media(max-width: 768px) {
 .imagen-principal  img {
display: block;
margin-left: auto;
margin-right: auto;
  }
}
/* para el @media query en modo Desktop */
@media (min-width: 1024px) {
  body {
    background-color: rgb(241, 234, 230);
    background-image: url("/img/imagen_fondo.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    {
    .imagen-principal img {
      width: 600px;
      height: 600px;
    float: :left; /*alinea la imagen al centro*/
    margin-right: 10px; /*agregar un margen derecho para seprr el contenido*/
    }
      
    } 
  }
}
